<div ng-controller="MessageGetAllCtrl">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div class="page-header">
                <h1>Inbox</h1>
            </div>
            <h4>{{ responseText }}</h4>
            <form role="form">
                <div class="form-group">
                    <label for="inputUsername">Username:</label>
                    <input type="text" class="form-control" id="inputUsername" ng-model="inputUsername"/>

                    <label for="input2fa">2FA:</label>
                    <input type="text" class="form-control" id="input2fa" ng-model="input2fa"/>
                </div>
                <button class="btn btn-success" id="buttonSubmit" ng-click="submit()">View Messages</button>
            </form>
        </div>
        <div class="col-sm-4"></div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-12">
            <table class="table">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>ID</th>
                    <th>Sender</th>
                    <th>Content</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in responseData">
                    <td>{{ row.datetime }}</td>
                    <td>{{ row._id }}</td>
                    <td>{{ row.sender }}</td>
                    <td>{{ row.content }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>