<div ng-controller="MessagePostCtrl">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div class="page-header">
                <h1>Send Message</h1>
            </div>
            <h4>{{ responseData }}</h4>
            <form role="form">
                <div class="form-group">
                    <label for="inputSender">Sender:</label>
                    <input type="text" class="form-control" id="inputSender" ng-model="inputSender"/>

                    <label for="inputReceiver">Receiver:</label>
                    <input type="text" class="form-control" id="inputReceiver" ng-model="inputReceiver"/>

                    <label for="inputContent">Content:</label>
                    <textarea class="form-control" id="inputContent" ng-model="inputContent"></textarea>

                    <label for="input2fa">2FA:</label>
                    <input type="text" class="form-control" id="input2fa" ng-model="input2fa"/>
                </div>
                <button class="btn btn-success" id="buttonSubmit" ng-click="submit()">Send</button>
            </form>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>